<%= render 'picture_carousel', flat: @flat %>



<div class="container-fluid flex" style="margin: 0px 0px; display: flex; justify-content: space-between; flex-wrap: wrap;">
  <%= render './shared/flat_owner_info' %>
  <%= render './shared/booking_form' %>
</div>



<div class="container-fluid flex" style="margin: 0px 0px; display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">
  <%= render './shared/about_this_flat' %>
</div>

<%= render 'reviews/show' %>

