<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="profile-header-wrapper">
  <div class="profile-header-infos">
    <img src="#" alt="" class="avatar">
    <img src="avatar.png" alt="Avatar" class="avatar">
    <h1>Welcome home, <%= @user.first_name %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li class="active">
                <a href="#tab_profile" data-toggle="tab">
                Profile </a>
              </li>
              <li>
                <a href="#tab_bookings" data-toggle="tab">
                My bookings</a>
              </li>
              <li>
                <a href="#tab_flats" data-toggle="tab">
                My flats </a>
              </li>
            </ul>
            <div class="tab-content">
              <!-- profile start -->
              <div class="tab-pane active" id="tab_profile">
                <ul>
                  <li>First name:<%= @user.first_name %></li>
                  <li>Last name:<%= @user.last_name %></li>
                  <li>Email:<%= @user.email %></li>
                  <li>Phone:<%= @user.phone %></li>
                </ul>
                <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-secondary" %>
              </div>
              <!-- profile ends -->
              <!-- bookings start -->
              <div class="tab-pane" id="tab_bookings">
                <ul class="bookings">
                  <% @user_bookings.each do |b| %>
                  <li class="booking">
                    <img src="images/gab.png" alt="" class="avatar-large">
                    <div class="booking-name">
                      <h3><%= @users.find(@flats.find(b.flat_id).user_id).email %></h3>
                    </div>
                    <div class="booking-body">
                      <div class="price"><%= @flats.find(b.flat_id).city%>
                      </div>
                      <div class="price">
                        <%= @flats.find(b.flat_id).key_description %>
                      </div>
                    </div>
                    <div class="booking-status">
                      <div class="status coming">Coming up</div>
                      <div class="price"><%= @flats.find(b.flat_id).price %></div>
                    </div>
                    <div class="booking-review">
                      <%= link_to "Create review", my_profile_path(b.id), class: "btn btn-secondary" %>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
              <!-- booking ends -->
              <!-- my flats start -->
              <div class="tab-pane" id="tab_flats">
                <div class="container">
                  <div class="row">
                    <% @user_flats.each do |f| %>
                    <div class="col-xs-12 col-sm-4 col-m-3">
                      <%= link_to flat_path(f), class: "text-dec" do %>
                      <div class="card">
                        <div class="flat-image">
                          <%= image_tag 'flat' %>
                          <div class="card-city"> <%= f.city %></div>
                        </div>
                        <div>
                          <div class="card-description"> <%= f.key_description %> | <strong><%= f.price %></strong> </div>
                          <% if f.average_rating != nil %>
                            <div class="card-rating">
                              <% (f.average_rating).times do %>
                                <i class="fas fa-star" style="color: #ffb400"></i>
                              <% end %>
                              <% (5 - f.average_rating).times do %>
                                <i class="far fa-star" style="color: #ffb400"></i>
                              <% end %>
                            </div>
                          <% end %>
                          <%= link_to "Edit flat", edit_flat_path(f.id), class: "far fa-edit" %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                    <% end %>
                  </div>
                </div>
                <%= link_to "Create a flat", new_flat_path, class: "btn btn-secondary" %>
              </div>
              <!-- my flats ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





