<div class="container">
  <div class="row">
    <% @flats.each do |f| %>
      <div class="col-xs-12 col-sm-4 col-m-4">
        <%= link_to flat_path(f), class: "text-dec" do %>
          <div class="card">
            <div class="flat-image">
              <% if f.pictures != [] %>
                <%= image_tag f.pictures[0].url%>
              <% end %>
              <div class="card-city"> <%= f.city %></div>
            </div>
            <div>
              <div class="card-description"> <%= f.key_description %> <br> <strong><%= f.price %></strong> </div>
              <div class="card-rating">
                <% if f.average_rating != nil %>
                  <% (f.average_rating).times do %>
                    <i class="fas fa-star" style="color: #ffb400"></i>
                  <% end %>
                  <% (5 - f.average_rating).times do %>
                    <i class="far fa-star" style="color: #ffb400"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
